* {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  box-shadow: black 2px 2px 5px;
}

.footersquare {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: black 2px 2px 5px;
}

#listsection {
  margin-bottom: 70px;
}

.rightmenu {
  display: flex;
  padding: 0;
  list-style: none;
}

.rightmenu li {
  margin: 5px 0;
  padding: 10px;
}

.rightmenu li:hover {
  cursor: pointer;
  color: rgb(26, 46, 85);
  font-weight: bold;
}

.rightmenuSelected {
  color: rgb(26, 46, 85);
  font-weight: bold;
}

.rightmenu li:not(:nth-child(1)) {
  border-left: 1px solid black;
}

#dateandtime {
  text-align: right;
  margin-right: 10px;
}

.hidden {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contacttext ul {
  margin-left: 10px;
}

h1,
h2 {
  margin: 150px 10px 50px 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

button {
  padding: 5px;
  margin: 8px 10px;
}

form button {
  margin: 0;
}

input {
  margin: 5px 0;
}

.bookshelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 5px;
  border: 1px solid black;
}

.class0,
.class1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5px;
}

.class0 {
  background-color: rgb(88, 96, 112);
  color: white;
}
